/* .menu {
    & .item {
        color: red;
    }
} */

/* .menu {
    & > .item {
        color: blue;
    }
} */

/* .item {
    & + .extra {
        color: orange;
    }
} */

.item {
    & ~ .extra {
        color: yellow;
    }
}